[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "wrictools"]
	path = wrictools
	url = https://github.com/ninaziegenbein/wrictools
